body {
    font-family: "Tahoma", sans-serif;
    background: #0b0b0c;
    color: #fff;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding-top: 40px;
}

.logo {
    width: 140px;
}

.title {
    font-size: 26px;
    margin-top: 15px;
}

.sub {
    font-size: 14px;
    color: #aaa;
}

.btn {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border: none;
    border-radius: 9px;
    font-size: 17px;
    cursor: pointer;
}

.twitter {
    background: #1DA1F2;
    color: white;
}

.gray {
    background: #444;
    color: white;
}

.purple {
    background: #8b4dff;
    color: white;
}

.green {
    background: #10c73a;
    color: white;
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.status {
    font-size: 14px;
    margin-top: 8px;
}
