body {
    margin: 0;
    font-family: "Tajawal", sans-serif;
    background: #000;
    color: #fff;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 30px;
}

.logo {
    width: 220px;
    border-radius: 20px;
    box-shadow: 0 0 40px #8e6dff;
    margin-bottom: 25px;
}

.title {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}

.subtitle {
    color: #aaa;
    font-size: 20px;
    margin-bottom: 25px;
}

.btn-primary,
.btn-secondary,
.btn-claim {
    width: 80%;
    padding: 15px;
    margin-top: 15px;
    background: #8e6dff;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-claim:hover {
    opacity: 0.8;
}

.btn-claim:disabled {
    background: #444;
    cursor: not-allowed;
}

.status-text {
    font-size: 18px;
    margin-top: 10px;
    color: #ff5050;
}
