body {
    background: #000;
    color: #fff;
    font-family: "Tajawal", sans-serif;
    text-align: center;
}

.container {
    margin-top: 40px;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    margin-bottom: 5px;
}

.subtitle {
    color: #bbb;
    margin-bottom: 20px;
}

.btn, .twitter-btn, .twitter-check-btn {
    background: #6c3cff;
    color: white;
    border: none;
    padding: 14px 20px;
    margin: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.twitter-btn {
    background: #1DA1F2;
}

.disabled {
    background: gray !important;
    cursor: not-allowed;
}

.status {
    margin: 10px;
    font-size: 16px;
    color: #ffd;
}

.success-box {
    margin-top: 70px;
}
