body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #0a0a0a 0%, #000000 100%);
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    margin-top: 60px;
}

.logo {
    width: 140px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px #8b38ff;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 12px #8b38ff;
}

.subtitle {
    font-size: 18px;
    color: #ccc;
}

.btn {
    margin-top: 18px;
    padding: 14px 26px;
    background: #8b38ff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 0 15px #8b38ff;
    transition: 0.15s;
}

.btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px #c367ff;
}

.secondary {
    background: #444;
    box-shadow: 0 0 10px #555;
}

.claim {
    background: #00c78b;
    box-shadow: 0 0 12px #00ffbf;
}

.loader {
    border: 4px solid #333;
    border-top: 4px solid #8b38ff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

#statusBox {
    margin-top: 20px;
}
